<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Can Joan</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Menu">Menu</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
        
    </header>
    <h1>Can Joan</h1>
    <section id="contact">
            <h2>Here we are, call us!</h2>
            <p class="horari">
                <h4>RESTAURANT HOURS</h4>
                Nights | 19h dl-dg - 23h <br>
                Halfdays | 12h dl-dg - 17h <br>
                <br>
            </p>

            <p><h4>ADRESS:</h4> <a href="https://www.google.es/maps/place/Can+Perico+-+Restaurant+i+Per+Endur!/@41.535407,2.17857,17z/data=!4m6!3m5!1s0x12a4be569f1e386d:0x7dfc81e8decb7b74!8m2!3d41.535407!4d2.180759!16s%2Fg%2F1q5bn6qjz">Carrer de Prat de la Riba, 23, 08130 Santa Perpètua de Mogoda, Barcelona</a><br>
            <br>
            <h4>PHONE:</h4> +34 628 68 36 96 <br>
            <br>
            You can send us a message, a tip, or ask us to do whatever you want about our kitchen in:<a href="CanJoan@gmail.com">CanJoan@gmail.com</a>.
            </p>
    </section>

</body>
</html>