<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Can Joan</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Menu">Menu</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
        <h1>Can Joan</h1>
    </header>

    <section id="start">
            <h2>Welcome to Ca Joan</h2>
            <p>We serve delicious and authentic dishes with fresh and seasonal ingredients.</p>
    </section>

    <section id="Reserve">
            <a href="/Reserve" class="button">Make your reservation</a>
    </section>

</body>
</html>