<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Can Joan</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Menu">Menu</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
        
    </header>
    <nav>
        <ul>
            <li><a href="/LetterHalfDay">Letter Half Day</a></li>
            <li>|</li>
            <li><a href="/LetterNights">Letter Nights</a></li>
            <li>|</li>
            <li><a href="/LetterWine">Letter Wine</a></li>
        </ul>
    </nav>
    <section id="menu">
        <h2>Letter Half Day</h2>
        <h3>---------------------  INCOMING TO SHARE  ---------------------</h3>
        <ul>
            <li>Gourmet's olive cap / 8€</li>
            <li>Hummus roll, toasted avocatus and sesame / 10€</li>
            <li>Longanass toast with our coca bread / 14€</li>
        </ul>
        <h3>----------------------  SECONDS TO CHOOSE  ------------------------</h3>
        <ul>
            <li>Stockpile of heat and branded cod / 12€</li>
            <li>Orange salad with mango vinegar / 9.50€</li>
            <li>Goat and strawberry cheese salad / 11.50€</li>
        </ul>
        <h3>--------------------------- OUR CAKES  ------------------------</h3>
        <p>The bread of La Bona Coca has a rustic appearance with a very fine and crispy bark, <br>
            made from ecological flour and too much mother, ideal for making our cake.</p>
        <ul>
            <li>Fresh mozzarella cake with avocado and pine nuts / 12.85€</li>
            <li>Goat and avocate cheesecake / 12.85€</li>
            <li>Abergine coca brased with brie cheese / 12.85€</li>

        </ul>
    </section>

</body>
</html>