<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Can Joan</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Menu">Menu</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
        
    </header>
    <nav>
        <ul>
            <li><a href="/LetterHalfDay">Letter Half Day</a></li>
            <li>|</li>
            <li><a href="/LetterNights">Letter Nights</a></li>
            <li>|</li>
            <li><a href="/LetterWine">Letter Wine</a></li>
        </ul>
    </nav>
    <section id="menu">
        <h2>Letter Wine</h2>
        <h3>---------------------  White Wine  ---------------------</h3>
        <img src="src\pages\Vins blancs Can Perico 2022.webp">
        <h3>---------------------  Rosé Wines  ---------------------</h3>
        <img src="src\pages\Vins rosats Can Perico 2022.webp">
        <h3>---------------------  Black Wines  ---------------------</h3>
        <img src="src\pages\Vins negres Can Perico 2022.webp" >
    </section>
</body>
</html>