<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Can Joan</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Menu">Menu</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>


    </header>
    <h1>Can Joan</h1>
<section>
    <h3>Make your reservation</h3>


    <form id="ReservForm">
        <label for="ReservName">Reserve Name:</label>
        <input type="text" name="ReservName" id="ReservName">
        <br>
        <label for="ReservDate">Reserve Date:</label>
        <input type="date" name="ReservDate" id="ReservDate">
        <br>
        <label for="ReservTime">Reserve Time:</label>
        <input type="time" name="ReservTime" id="ReservTime">
        <br>
        <label for="NumberPeople:">Number of People:</label>
        <input type="number" name="NumberPeople" id="NumberPeople">
        <br>
        <input type="submit" value="Reservation">
    </form>
</section>


</body>
</html>